<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webshoprsmex.mapper.RefundrecordMapper">
  <resultMap id="BaseResultMap" type="com.webshoprsmex.model.Refundrecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="orderid" jdbcType="INTEGER" property="orderid" />
    <result column="tradeno" jdbcType="VARCHAR" property="tradeno" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <!--   关联结果集合 -->
  <resultMap id="BaseResultMapJoin" type="com.webshoprsmex.model.Refundrecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="orderid" jdbcType="INTEGER" property="orderid" />
    <result column="tradeno" jdbcType="VARCHAR" property="tradeno" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
<!--     关联用户 -->
    <association property="user" javaType="com.webshoprsmex.model.User">
		<id column="u_id" jdbcType="INTEGER" property="id" />
	    <result column="u_username" jdbcType="VARCHAR" property="username" />
	    <result column="u_password" jdbcType="VARCHAR" property="password" />
	    <result column="u_header" jdbcType="VARCHAR" property="header" />
	    <result column="u_email" jdbcType="VARCHAR" property="email" />
	    <result column="u_createtime" jdbcType="VARCHAR" property="createtime" />
	</association>
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, orderid, tradeno, price, createtime
  </sql>
  <!--   关联查询结果 -->
  <sql id="Base_Column_List_Join">
    c.*,
   	u.id as u_id, u.username as u_username, u.password as u_password,
   	u.header as u_header, u.email as u_email, u.createtime as u_createtime 
  </sql>
  <!--   查询参数集合 -->
  <sql id="Base_Param_List">
    <if test="list!=null and list.size()>0">
    	<foreach collection="list" item="param" open="" separator="" close="">
            <if test="param[1] == '='.toString()">
            	<if test="param[2]!=null and param[2]!=''.toString()">
            		and ${param[0]} = ${param[2]} 
            	</if>
            </if>
            <if test="param[1] == 'like'.toString()">
            	<if test="param[2] !=null and param[2] != ''.toString()">
            		and ${param[0]} like '%${param[2]}%'
            	</if>
            </if>
            <if test="param[1] == 'in'.toString()">
            	<if test="param[2]!=null and param[2]!=''.toString()">
            		and ${param[0]} in (${param[2]})  
            	</if>
            </if>
            <if test="param[1] == '!='.toString()">
            	<if test="param[2]!=null and param[2]!=''.toString()">
            		and ${param[0]} &lt;&gt; ${param[2]} 
            	</if>
            </if>
       </foreach>
    </if> 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from refundrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from refundrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webshoprsmex.model.Refundrecord">
    insert into refundrecord (id, userid, orderid, 
      tradeno, price, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, 
      #{tradeno,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webshoprsmex.model.Refundrecord">
    insert into refundrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="tradeno != null">
        tradeno,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="tradeno != null">
        #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webshoprsmex.model.Refundrecord">
    update refundrecord
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="tradeno != null">
        tradeno = #{tradeno,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webshoprsmex.model.Refundrecord">
    update refundrecord
    set userid = #{userid,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER},
      tradeno = #{tradeno,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--   带参数查询 -->
  <select id="find" resultMap="BaseResultMap" >
    select 
    	<include refid="Base_Column_List" />
    from refundrecord
    where 1=1 
	    <include refid="Base_Param_List" />
    order by id desc
  </select>
<!--   带参数关联查询 -->
  <select id="findJoin" resultMap="BaseResultMapJoin" >
    select 
    	<include refid="Base_Column_List_Join" /> 
    from refundrecord c 
    left join user u on u.id = c.userid  
    where 1=1 
    	<include refid="Base_Param_List" />
    order by c.id desc
  </select>
<!--   带参数查询一个 -->
  <select id="findFirst" resultMap="BaseResultMap" >
    select 
    	<include refid="Base_Column_List" />
    from refundrecord
    where 1=1 
    	<include refid="Base_Param_List" />
    order by id desc 
    limit 0,1
  </select>
  <!--   带参数关联查询一个 -->
  <select id="findFirstJoin" resultMap="BaseResultMapJoin" >
    select 
    	<include refid="Base_Column_List_Join" /> 
    from refundrecord c
    left join user u on u.id = c.userid  
    where 1=1 
    	<include refid="Base_Param_List" /> 
    order by c.id desc 
    limit 0,1
  </select>
  <!--   带参数聚合查询 -->
  <select id="findCount" resultType="java.lang.Long">
    select count(id) from refundrecord
    where 1=1 
    	<include refid="Base_Param_List" />
  </select>
</mapper>