body {
  background-color: #fff !important;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline;
}
#rightiframe {
  width: 100%;
  height: 100%;
}
.form-control,
.input-group {
  margin: 0 !important;
}
.mr15 {
  margin-right: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mtb0 {
  margin: 0 !important;
}
.ml10 {
  margin-left: 10px;
}
.mb0 {
  margin-bottom: 0 !important;
}

.br0 {
  border-right: 0 !important;
}
.cursorpointer {
  cursor: pointer !important;
}
.table th {
  background-color: #f2f2f2;
  border-bottom: none!important;
  font-weight: normal;
}
#system {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#system header {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
}
#system header .left a {
  font-size: 20px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
}
#system header .left i {
  font-size: 22px;
  margin-right: 7px;
  color: #5cb85c;
}
#system header .left small {
  font-size: 20px;
  color: #5cb85c;
}
#system header .right {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
#system header .right a {
  display: flex;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  color: #fff;
  border-left: 1px solid #222;
  transition: all 300ms;
}
#system header .right a:hover {
  background: #333;
  transition: all 300ms;
}
#system header .right a:hover i {
  transition: all 300ms;
  color: #5cb85c;
}
#system header .right a i {
  font-size: 16px;
  transition: all 300ms;
}
#system section.body {
  flex: 1;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
#system section.body .left {
  width: 170px;
  height: 100%;
  background-color: #e5e5e5;
  overflow: hidden;
}
#system section.body .left dl {
  margin: 0;
  border-top: 1px solid #f2f2f2;
}
#system section.body .left dl dt {
  font-size: 13px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  text-shadow: 0 0 2px #fff;
  padding: 10px 15px;
}
#system section.body .left dl dt i {
  margin-right: 15px;
  color: green;
  width: 25px;
}
#system section.body .left dl dt span {
  flex: 1;
  color: #333;
  font-weight: normal;
}
#system section.body .left dl dt.activeTop {
  box-sizing: border-box;
  box-shadow: 0 0 5px outset #666;
  background-color: #fff;
  position: relative;
  transition: all 300ms;
}
#system section.body .left dl dt.activeTop::before {
  content: ' ';
  width: 5px;
  height: 100%;
  position: absolute;
  background-color: #5cb85c;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 300ms;
}
#system section.body .left dl dt.activeTop * {
  color: #5cb85c;
}
#system section.body .left dl dd {
  display: none;
}
#system section.body .left dl .activelinks {
  color: #009c00 !important;
}
#system section.body .left dl dd.active {
  background-color: #fff;
  border-top: none;
  display: block;
}
#system section.body .left dl dd.active .li a {
  display: flex;
  align-items: center;
  color: #444;
  background-color: #f9f9f9;
  justify-content: flex-start;
  padding: 10px 15px;
  border-top: 1px solid #fff;
}
#system section.body .left dl dd.active .li a span {
  font-size: 13px;
  font-weight: 300;
}
#system section.body .left dl dd.active .li a i {
  margin-right: 15px;
  color: green;
  width: 25px;
}
#system section.body .left dl dd.active .li a:hover {
  color: #5cb85c;
  text-decoration: none;
}
#system section.body .left dl dd.active .li i {
  margin-right: 20px;
  color: #5cb85c;
}
#system section.body .right {
  flex: 1;
}
#body {
  padding: 15px;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}
#body .push {
  margin-bottom: 15px !important;
  overflow: hidden;
}
#body .breadcrumb {
  border-radius: 0;
  font-weight: 300;
  margin-bottom: 15px;
  position: relative;
}
#body .breadcrumb::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #f2f2f2;
  bottom: 0;
  left: 0;
  animation: loading 800ms forwards;
}
@keyframes loading {
  0% {
    content: " ";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: #5cb85c;
    bottom: 0;
    left: 0;
  }
  100% {
    width: 100%;
    content: " ";
    position: absolute;
    height: 2px;
    background-color: #5cb85c;
    bottom: 0;
    left: 0;
  }
}
#body .tabli {
  border: 1px solid #ddd;
  border-bottom: none;
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
}
#body .tabli > span {
  padding: 10px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-right: 1px solid #fff;
}
#body .tabli > span.active {
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
}
#body .tabbody {
  border-top: none;
}
#body .tabbody .bodyli {
  display: none;
  border: 1px solid #ddd;
}
#body .tabbody .bodyli .columnbody {
  background-color: #fff;
  padding: 15px;
  min-height: 400px;
}
#body .tabbody .bodyli em.s-red {
  font-style: normal;
  color: #ff0000;
  font-size: 14px;
  padding-right: 5px;
}
#body .tabbody .bodyli .inputbox {
  padding: 8px 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#body .tabbody .bodyli .inputbox span.title {
  width: 150px;
  padding-right: 20px;
  display: flex;
  font-size: 13px;
  font-weight: 300;
  color: #000;
  justify-content: flex-end;
}
#body .tabbody .bodyli .inputbox .inputright {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#body .tabbody .bodyli .inputbox .radio-inline {
  display: inline-flex;
  align-items: center;
  padding: 0;
}
#body .tabbody .bodyli .inputbox .radio-inline input {
  margin: -2px 5px 0 0;
  position: relative;
}
#body .tabbody .bodyli.active {
  display: block;
}
#body .tbfooter {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-top: none;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.bd0 {
  border: none !important;
}
.modal.fade {
  background-color: rgba(0, 0, 0, 0.55);
}
.tablebox {
  background-color: #fff;
}
.cell-4 {
  width: 110px;
}
.barboxs {
  display: flex;
  margin-bottom: 15px;
}
.barboxs .leftbox {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.barboxs .leftbox .liselect {
  width: 200px;
  margin-left: 15px;
}
.barboxs .leftbox .w300 {
  width: 300px;
}
.barboxs .leftboxfl {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.fy ul {
  margin: 0;
}
#content {
  min-height: 500px;
}
.layui-layer-btn {
  display: flex;
  justify-content: flex-end;
  background-color: #f2f2f2;
  padding: 15px !important;
}
.layui-layer-btn0 {
  background-color: #5cb85c !important;
  border: 1px solid #52a552 !important;
}
.layui-layer-btn0,
.layui-layer-btn1 {
  border-radius: 0 !important;
  height: 30px !important;
  padding: 0 10px;
  margin: 0 0 0 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #b56f6f 0%, #e6d1cf 100%);
}
#login .center {
  width: 600px;
  padding: 40px;
  background-color: #fff;
}
#login .center dl {
  margin-bottom: 0;
}
#login .center dt {
  font-size: 28px;
  color: #666;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#login .center dt i {
  color: #5cb85c;
  margin-right: 10px;
  font-size: 32px;
}
#login .center dt span {
  color: #5cb85c;
}
#login .center dd {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}
#login .center dd:last-child {
  margin-bottom: 0;
}
#login .center dd > span {
  height: 40px;
  display: flex;
  width: 50px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  align-items: center;
  border-right: none;
  justify-content: center;
}
#login .center dd > span i {
  color: #5cb85c;
  font-size: 18px;
}
#login .center dd input {
  flex: 1;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}
#login .center dd input:focus {
  border: 1px solid #5cb85c;
}
#login .center dd input::placeholder {
  color: #999;
}
#login .center dd button {
  flex: 1;
  height: 40px;
  border: 1px solid #5cb85c;
  background-image: linear-gradient(to top, #0ba39c 0%, #3cba92 100%);
  padding: 0 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}
#login .center dd button:active {
  opacity: 0.85;
}
#controlpanel {
  height: 100vh;
  width: 100vw;
  padding: 15px;
}
.rightmask {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -999;
  width: calc(100% - 170px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 300ms;
  opacity: 0;
}
.rightmask.show {
  opacity: 1;
  transition: all 300ms;
  z-index: 99999;
  width: calc(100% - 170px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.35);
}
